*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(53, 152, 163),rgb(36, 49, 121));
    color: white;
    font-family: sans-serif;
}
.location,
.temperature{
    display: flex;
    height: 30vh;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 0.8rem;
    font-size: 1.6rem;
}
.degree-section h2{
    font-size: 2.2rem;
}